<%- layout('layout') -%>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <% if(message.length>0) { %>
          <div class="alert alert-success alert-dismissible">
            <%- message %>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
          <% } %>

            <% cart.items.forEach(function(item){%>
              <div class="list-group">
                <span class="list-group-item">
                  <div class="row">
                    <div class="col-md-3">
                      <span><img class="product-image" src="<%= item.item.image %>"</span>
                      </div>
                      <div class="col-md-6">
                        <p class="list-group-item-heading">
                          <%= item.item.name%>
                        </p>
                      </div>
                      <div class="col-md-3">
                        <p class="list-group-item-heading">
                          <%= item.quantity%>
                        </p>
                        <p class="list-group-item-heading">
                          $
                          <%= item.price%>
                        </p>
                        <form method="post" action="/remove">
                          <input type="hidden" name="itemId" value="<%= item._id %>" />
                          <input type="hidden" name="price" value="<%= item.price %>" />
                          <button type="submit" type="button" class="btn btn btn-danger">Remove</button>
                        </form>
                      </div>
                  </div>
              </span>
            </div>
    <% }); %>
  </div>
  <div class="col-lg-4">
    <div class="list-group" >
      <span class="list-group-item">
            <h4>Total: $<span class="totalPrice"><%= cart.total %></span></h4>

            <form action="/charge" method="post">
              <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="<%= pk %>"
                data-amount="<%= Math.round(cart.total*100) %>"
                data-name="MyAmazon"
                data-description="Pay for items with Stripe!"
                data-currency="usd"
                data-locale="auto">
              </script>
              <input type="hidden" name="chargeAmount" value="<%= cart.total %>" />
            </form>

      </span>
    </div>
  </div>
  </div>
  </div>
